<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <section class=" justify-content-center p-3 border-bottom"></section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="p-5">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Members</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/buon.sau.sac.huhu" class="text-white">Nguyen Hai Long</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/tay.minh.1506" class="text-white">Do Minh Tay</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/arsper21" class="text-white">Le Hoang Anh</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Ht.hieu.75" class="text-white">Ho Cong Hieu</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100009870421076" class="text-white">Vu Hieu
                                Minh</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Courses</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">NodeJS</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">JavaScript</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">ReactJS</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">HTML & CSS</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Userful Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Features</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">About</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fas fa-home me-2"></i> New York, NY 10012, US
                        </li>
                        <li>
                            <i class="fas fa-envelope me-2"></i>group3@example.com
                        </li>
                        <li>
                            <i class="fas fa-phone me-2"></i> + 01 234 567 88
                        </li>
                        <li>
                            <i class="fas fa-print me-2"></i> + 01 234 567 89
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Developed by Group 3
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->