<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
	<div class="app">
		<header>
			<!-- Navbar -->
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
				<div class="container-fluid">
					<a href="#" class="navbar-brand">FPT.co</a>
					<button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
						data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
						aria-label="Toggle navigation">
						<i class="fas fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbarExample01">
						<div class="mx-auto"></div>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item active">
								<a class="nav-link text-white" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="#">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="#">Introduction</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="/login">Login</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Navbar -->

			{{!-- carousel --}}
            {{> carousel}}  
		</header>

		{{!-- footer --}}
		{{> footer }}
	</div>

	<script src="js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		var nav = document.querySelector('nav');

		window.addEventListener('scroll', function () {
			if (window.pageYOffset > 100) {
				nav.classList.add('bg-dark', 'shadow');
			} else {
				nav.classList.remove('bg-dark', 'shadow');
			}
		});
	</script>
	<!-- MDB -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>

</html>